<div class="dashboard-container">
    <div class="user-card">
        <h1 class="card-title mb-0">New</h1>
        <p class="card-text text-muted mb-0">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="user-card">
        <h1 class="card-title mb-0">New</h1>
        <p class="card-text text-muted mb-0">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="user-card">
        <h1 class="card-title mb-0">New</h1>
        <p class="card-text text-muted mb-0">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="user-card">
        <h1 class="card-title mb-0">New</h1>
        <p class="card-text text-muted mb-0">Lorem ipsum dolor sit amet</p>
    </div>
</div>

<div class="body">Home > Sample Page</div>
<div class="heading">Sample Page</div>

<div class="user-card1 card-md-10">
    <h5 class="card-title mb-0">Hello Card</h5>
    <hr />
    <p class="card-text text-muted mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
    </p>
</div>
